body{
    background-color: #D83142;
    margin: 1px;
}

h1{
    color: white;
    font-family: 'Candal', sans-serif;
    text-align: center;
}


p#description{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

div.recipeslist{
    border-top: 5px solid #FF6666;   
}

img.maintastebuddy{
    position: fixed;
    right: 0; 
    bottom: 0;
}

img.speechbubble{
    position: fixed;
    right: 0; 
    bottom: 100px;
}

p.recipe{
    position: relative;
    top: -300px;
    margin-left: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Candal', sans-serif;
    background-color: #FBBB57;
}

a p{
    position: relative;
    width: 150px;
    text-align: center;
    top: -110px;
    margin-left: 20px;
    color: white;
    font-size: 20px;
    font-family: 'Candal', sans-serif;
    background-color: #FBBB57;
}